@use './colors' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
	color: #fff;
}

nav {
	text-transform: uppercase;

	.navbar-toggler {
		padding: 10px 15px;
	}

	.nav-link,
	.navbar-nav .nav-link.active,
	.navbar-nav .show > .nav-link,
	.navbar-brand,
	.fa-solid {
		color: $white;
	}

	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav .nav-link.active,
	.navbar-nav .show > .nav-link {
		color: $main-color;
	}
}

.hero-text{
    justify-content: center;
}